@inject IStringLocalizer<Home> Localizer

<h1>@Localizer["HelloWorld"]</h1>

@page "/"
@using Microsoft.Extensions.Localization

<PageTitle>Home</PageTitle>

<h1>@Localizer["HomeTitle"]</h1>
<h1>Hello, world!</h1>

Welcome to your new app.
